
#fund {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.fund-content, .fund-image {
  width: 100%;
  margin-bottom: 20px;
}

.fund-image img {
  width: 100%; /* ensures image takes up no more space than its container */
  height: auto; /* maintains aspect ratio */
  display: block; /* removes any default spacing */
}

/* Styles for screens larger than 768px */
@media (min-width: 768px) {
  #fund {
      flex-direction: row;
      text-align: left;
  }

  .fund-content, .fund-image {
      width: 50%;
      margin-bottom: 0;
  }

  .fund-content {
      padding-right: 20px;
  }

  .fund-image {
      padding-left: 20px;
  }
}


  /* Main Content */
  main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Headings */
  h1, h2 {
    margin-bottom: 40px;
  }
  
  h1 {
    color: #200b0b;
    font-size: 2em;
  }
  
  h2 {
    color: #0d0c0c;
    font-size:medium;
    font-family:sans-serif;
  }
  
  /* Paragraphs */
  p {
    margin-bottom: 20px;
    text-align: justify;
  }
  
  /* Lists */
  ul {
    list-style: disc inside;
    margin-bottom: 20px;
  }
  
