.chart-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% of the viewport height */
    justify-content: center;
    align-items: center;
  }
  
  #chart-container {
    width: 10%;
    max-width: 200px; /* Maximum width */
    height: 100px; /* Fixed height */
  }